<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"> {{ site.title }} </a>

    <nav class="site-nav">

      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

        {% if site.github_username %}
          <a class="page-link" href="https://github.com/{{ site.github_username }}">github</a>
        {% endif %}

        {% if site.twitter_username %}
          <a class="page-link" href="https://twitter.com/{{ site.twitter_username }}">twitter</a>
        {% endif %}

        {% if site.linkedin_username %}
          <a class="page-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">linkedin</a>
      {% endif %}
</div>
    </nav>

  </div>

</header>
